<% layout('layouts/comunicazioni-index-layout') -%>
<form action="/area-riservata/segreteria/lista-pazienti" method="GET">
        <select id="selezioneMedico" name='medico'>
            <% medici.forEach((medico)=>{ %>
            <option value="<%= medico._id %>">Dott. <%= medico.cognome %> <%= medico.nome %></option><% }) %>
        </select>
        <input type="submit" value="Mostra" id="mostra">
    </form>
    <table id="lista">
        <tr>
            <th>Nome paziente</th>
            <th>Data nascita</th>
        </tr>
       <% pazienti.forEach((paziente)=>{
    var dataNascita=paziente.dataNascita.toISOString().substring(0,10).split('-') %>
    <tr>
        <td><%= paziente.cognome %> <%= paziente.nome %></td>
        <td><%= `${dataNascita[2]}-${dataNascita[1]}-${dataNascita[0]}` %></td>
    </tr>
    <% }) %>
    </table>
