<% layout('layouts/comunicazioni-index-layout') -%>

<div id="pop_up">
	<form id="newPrenotazione" action="/prenotazioni" method="POST">
		<div class="error-message"></div>
		<% const oggiHTML= new Date().toISOString().substring(0,10); %>
		<div>
			<input
				name="prenotazione[data]"
				type="date"
				min="<%= oggiHTML %>"
				value="<%= oggiHTML %>"
			/>
		</div>
		<% var primoDisponibile=true, i=1; orari.forEach((orario)=>{ %>
		<div class="mx-button">
			<input
				type="radio"
				name="prenotazione[ora]"
				value="<%= orario.ora %>"
				id="button<%= i %>"
				<% if(orario.disponibile&&primoDisponibile){ %>
			checked <% primoDisponibile=false;} %> />
			<label for="button<%= i++ %>" unselectable><%= orario.ora %></label>
		</div>
		<% }) %>
		<br />
		Motivazione:
		<input type="text" class="motivazione" name="prenotazione[motivazione]" /><br />
		<input type="submit" />
	</form>
</div>
