<% layout('layouts/comunicazioni-index-layout') -%>
<label id="infoIndicazioni">
    Per evitare code ed <b>assembramenti</b> indica l'orario in cui preferisci arrivare in segreteria. <br/>
    Accanto ad ogni orario puoi trovai il numero di pazienti che saranno lì in quell'orario.
</label>

<form id="newPrenotazione" action="/prenotazioni" method="POST">
		<div class="error-message"></div>
        <%  const oggiData=new Date(); //data di oggi %>
		<div>
            <input
                id="dataInput"
				name="prenotazione[data]"
                type="date"
                value="<%= oggiData.toISOString().substring(0,10) %>"
                <% const tmpdata=new Date(oggiData);
                tmpdata.setDate(tmpdata.getDate()-15); //imposto data minima a 15 giorni prima %>
                min="<%= tmpdata.toISOString().substring(0,10) %>"
                <% tmpdata.setDate(tmpdata.getDate()+15+3); //imposto data massima a 3 giorni dopo %>
				max="<%= tmpdata.toISOString().substring(0,10) %>"
			/>
        </div>
<div id="orariContainer">
    <% if(orari.length==0) { %> <%= oggiData.getDate() %>-<%= oggiData.getMonth()+1 %>-<%= oggiData.getFullYear() %> CHIUSO <% }else{ %>
    <table id="tabellaOrari">
        <tr>
            <th></th>
            <th>Orario prenotazione</th>
            <th>Pazienti prenotati</th>
        </tr>
    <% 
    var i=0,primoDisponibile=true;
    orari.forEach((orario)=>{ %>
        <tr class="<%
            if(orario.numPazienti<4){ %>indicazioneVerde<% } else if(orario.numPazienti<7){ %>indicazioneGialla<% } else { %>indicazioneRossa<% }%>">
            <td>
                <input
                type="radio"
                name="prenotazione[ora]"
                value="<%= orario.ora %>"
                id="button<%= i %>"
                <% if(primoDisponibile){ %>
                checked <% primoDisponibile=false;} %> />
            </td>
            <td>
                <label for="button<%= i++ %>"><%= orario.ora%></label>
            </td>
            <td>
                <%= orario.numPazienti %> pazienti
            </td>
        </tr>
    <% }) %>
    </table>
</div>
<input type="submit" value="Conferma indicazione"><% } %>
</form>
<script>
    const getOrariAPI_URL='http://'+document.domain+":3000/prenotazioni/getOrariSegreteriaAPI"
    const dataInput= document.querySelector('#dataInput');
    const orariContainer=document.querySelector('#orariContainer');
    dataInput.addEventListener('change',()=>{
        const dataRicerca=dataInput.value.split('-');
        const day=`${dataRicerca[2]}-${dataRicerca[1]}-${dataRicerca[0]}`
        fetch(`${getOrariAPI_URL}?day=${day}`).then((response) => response.json())
        .then((risposta) => {
            orariContainer.innerHTML='';
            risposta.orari.forEach(orario => {
                const div = document.createElement("div");
                div.textContent=`${orario.ora} -> ${orario.numPazienti} pazienti`;
                orariContainer.appendChild(div);
            });
        });
    });
</script>