<!DOCTYPE html>
<html>
    <head>
        <title>HAP :<%= currentUser.idRef.nome %> <%= currentUser.idRef.cognome %></title>
        <link rel="icon" type="image/png" href="/images/favicon.ico" />
        <link rel="stylesheet" href="/stylesheets/registrazione.css" />
    </head>
    <body>
        <div class="tetto">
            <div id="title" class="tetto">
                HAP
            </div>
        </div>	
        <div class="area">
            <div id="area_dati">
                <center><img src="/images/avatar.png" id="immagine-profilo"></center><br><br>
                <div id="nome-utente">Nome: <label id="nome-utente"><%= currentUser.idRef.nome %></label></div><br><br>
                <div id="cognome-utente">Cognome: <label id="cognome-utente"><%= currentUser.idRef.cognome %></label></div><br><br>
                <div id="data-nascita">Data di nascita: <label id="data-nascita-utente"><%= currentUser.idRef.dataNascita %></label></div><br><br>
                <div id="utente-cf">CF: <label id="cf-utente"><%= currentUser.idRef.cf %></label></div><br><br>
                <div id="e-mail-utente">E-mail: <label id="e-mail-utente"><%= %></label></div><br><br>
                <form action="/users/reset/<%= token %>?_method=PUT " method="POST">
                    <div id="password-utente">Password:<input type="password" id="password-utente" value="<%= currentUser.idRef.password%>"></div><br><br>
                    <input type="submit" id="salva" value="Salva">
                </form>
            </div>
        </div>
    </body>
</html>