<% layout('layouts/comunicazioni-index-layout') -%>	
        <div class="area">
            <div id="area_dati">
                <center><img src="/images/avatar.png" id="immagine-profilo"></center><br><br>
                <div id="utente">Nome:</div> <label id="dato"><%= currentUser.idRef.nome %></label><br><br>
                <div id="utente">Cognome:</div> <label id="dato"><%= currentUser.idRef.cognome %></label><br><br>
                <% if(typeof currentUser.idRef.dataNascita!='undefined'){ %>
                <div id="utente">Data di nascita: </div><label id="dato">
                    <% const dataNascita = currentUser.idRef.dataNascita.toISOString().substring(0,10).split('-');
                     %><%= `${dataNascita[2]}-${dataNascita[1]}-${dataNascita[0]}` %></label><br><br><% } %>
                <div id="utente">CF: </div><label id="dato"><%= currentUser.idRef.CF %></label><br><br>
                <div id="utente">E-mail: </div><label id="dato"><%= currentUser.email %></label><br><br>
                <div id="utente">Telefono: </div><label id="dato"><%= currentUser.idRef.numTelefono %></label><br><br>
                <!-- <form action="/users/reset/<%= token %>?_method=PUT " method="POST">
                    <div id="password-utente">Password:<input type="password" id="password-utente" ></div><br><br>
                    <input type="hidden" id="salva" value="Salva">
                </form> -->
            </div>
        </div>