<% layout('layouts/comunicazioni-index-layout') -%>
<h1>Modifica Comunicazione</h1>
<form
	id="aggiungiNews"
	action="/comunicazioni/<%= comunicazione.id %>?_method=PUT"
	method="POST"
>
	<div class="error-message"></div>
	<div>
		<label id="titolo-comunicazione">Titolo: </label>
		<input
			name="comunicazione[titolo]"
			placeholder="Titolo"
			value="<%= comunicazione.titolo  %>"
			id="testo-comunicazione"
		/>
	</div>
	<br>
	<div>
		<label id="key-title">Parole chiave (Inserisci parole chiave separate da una virgola): </label> 
		<input
			name="comunicazione[paroleChiave]"
			placeholder="Parole chiave"
			value="<%= comunicazione.paroleChiave %>"
			id="key-comunicazione"
		/>
	</div>
	<br>
	<div>
		<label id="key-title">Testo: </label>
		<textarea name="comunicazione[testo]" placeholder="Testo" id="descrizione-comunicazione"><%= comunicazione.testo %></textarea
		>
	</div>
	<br><br>
	<a href="/comunicazioni/<%= comunicazione._id %>"><button id="back">Indietro</button></a>
	<input type="reset" value="Annulla cambiamenti" id="annulla"/>
	<input type="submit" value="Conferma modifiche" id="conferma"/>
</form>
