<% layout('layouts/boilerplate') -%>
<h1>Modifica Comunicazione</h1>
<form
	id="aggiungiNews"
	action="/comunicazioni/<%= comunicazione.id %>?_method=PUT"
	method="POST"
>
	<div class="error-message"></div>
	<div>
		<input
			name="comunicazione[titolo]"
			placeholder="Titolo"
			value="<%= comunicazione.titolo  %>"
		/>
	</div>
	<div>
		<textarea name="comunicazione[testo]" placeholder="Testo">
<%= comunicazione.testo %></textarea
		>
	</div>
	<div>
		<input
			name="comunicazione[paroleChiave]"
			placeholder="Parole chiave"
			value="<%= comunicazione.paroleChiave %>"
		/>
		Inserisci parole chiave separate da una virgola
	</div>
	<a href="/comunicazioni/<%= comunicazione._id %>">indietro</a>
	<input type="reset" value="Annulla cambiamenti" />
	<input type="submit" value="Conferma modifiche" />
</form>
