<% layout('layouts/comunicazioni-show-layout') -%>
<h1><%= comunicazione.titolo %></h1>
<div id="dataora"><%= comunicazione.data %></div><br>
<div id="key">
	Parole chiave: <%
	comunicazione.paroleChiave.split(',').forEach((parola)=>{parola=parola.trim();
	%>
	<a href="/comunicazioni?parolaChiave=<%= parola %>"
		><button><%= parola %></button></a
	>
	<%}); %>
</div><br>
<div id="descrizione"><%= comunicazione.testo %></div><br><br><br><br><br>
<div id="modifica">
	<a href="/comunicazioni/<%= comunicazione.id%>/edit">
		<button>Modifica</button>
	</a>
</div>
<div>
	<form
		action="/comunicazioni/<%= comunicazione.id%>?_method=DELETE"
		method="POST"
	>
		<input type="submit" value="Delete" id="cancellazione"/>
	</form>
</div>
