<% layout('layouts/comunicazioni-show-layout') -%>
<h1><%= comunicazione.titolo %></h1>
<div><%= comunicazione.data %></div>
<div><%= comunicazione.testo %></div>
<div>
	Parole chiave: <%
	comunicazione.paroleChiave.split(',').forEach((parola)=>{parola=parola.trim();
	%>
	<a href="/comunicazioni?parolaChiave=<%= parola %>"
		><button><%= parola %></button></a
	>
	<%}); %>
</div>
<div>
	<a href="/comunicazioni/<%= comunicazione.id%>/edit">
		<button>Modifica</button>
	</a>
</div>
<div>
	<form
		action="/comunicazioni/<%= comunicazione.id%>?_method=DELETE"
		method="POST"
	>
		<input type="submit" value="Delete" />
	</form>
</div>
